@tailwind base;
@tailwind components;
@tailwind utilities;
/* custom css */
body {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}
.container {
  max-width: 96%;
  margin: 0 auto;
}
.active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  transition: 0.3s ease;
}
.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
  transition: 0.3s ease;
}
.custom-image {
  background-image: url("./assets/Banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.company-image {
  background-image: none;
}
.categories-image {
  background-image: none;
}
.hero {
  background: #00000034;
  opacity: 1;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.is-invalid {
  background-image: url("./assets/images/download.svg");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: 5%;
}
.add-uid {
  background-image: url("./assets/images/register/swis.png");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: 4%;
}
.client-valid {
  background-image: url("./assets/images/download.svg");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: 3%;
}
.client-not-valid {
  background-image: url("./assets/images/check.svg");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: 3%;
}
.seller-valid {
  background-image: url("./assets/images/download.svg");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: 3%;
}
.seller-not-valid {
  background-image: url("./assets/images/check.svg");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: 3%;
}
.is-not-invalid {
  background-image: url("./assets/images/check.svg");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: 4%;
}
.is-num-valid {
  background-image: url("./assets/images/download.svg");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: 4%;
}
.is-num-not-valid {
  background-image: url("./assets/images/check.svg");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: 4%;
}
.is-req-valid {
  background-image: url("./assets/images/download.svg");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: 4%;
}
.is-post-valid {
  background-image: url("./assets/images/download.svg");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: 8%;
}
.is-post-invalid {
  background-image: url("./assets/images/check.svg");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: 8%;
}
.is-email-valid {
  background-image: url("./assets/images/download.svg");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: 4%;
}
.is-email-invalid {
  background-image: url("./assets/images/check.svg");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: 4%;
}
.is-req-invalid {
  background-image: url("./assets/images/check.svg");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: 4%;
}
.is-other-invalid {
  background-image: url("./assets/images/check.svg");
  background-repeat: no-repeat;
  background-position: 99% 5%;
  background-size: 4%;
}
.is-other-valid {
  background-image: url("./assets/images/download.svg");
  background-repeat: no-repeat;
  background-position: 99% 5%;
  background-size: 4%;
}
.is-invalid-codes {
  background-image: url("./assets/images/download.svg");
  background-repeat: no-repeat;
  background-position: 97% 50%;
  background-size: 5%;
}
.review-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(#fff, #536570);
}
.custom-shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.custom-content::before {
  color: rgba(204, 204, 204, 0.3);
  content: "„";
  font-size: 50px;
  position: absolute;
  right: 10px;
  top: -40px;
}
.striped:nth-child(odd) {
  background-color: #f5f6f7;
}
.striped:hover {
  background-color: #ececec;
}
.dropContainer {
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  border: 2px dashed #555;
  color: #444;
  cursor: pointer;
  transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
  width: 100%;
  box-sizing: border-box;
}
.dropContainer:hover {
  background: #eee;
  border-color: #111;
}
.upContainer input[type="file"]::file-selector-button {
  display: none;
}
.offer-files input[type="file"]::file-selector-button {
  display: none;
}
.question-list li {
  border-bottom: 1px solid #0000002c;
  padding-bottom: 15px;
}
.question-list li:last-child {
  border-bottom: none;
}
.hover-tab:hover p {
  color: red;
}
.recently li {
  border-bottom: 1px solid #00000028;
  padding-bottom: 20px;
}
.recently li:last-child {
  border-bottom: none;
}
.verify-input input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* effect */

@keyframes zoomOut {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.zoom-animation {
  animation: zoomOut 0.3s ease forwards;
}

/* effect */
/* media query */
@media screen and (min-width: 1024px) {
  .container {
    width: 1280px;
    margin: 0 auto;
  }

  .company-image {
    background-image: url("./assets/images/company/premium_membership_handyman_confidently-fed64e6e8f4141df1135.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 21%;
  }
  .categories-image {
    background-image: url("./assets/images/search/category_banner.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 40%;
  }
}

@media screen and (min-width: 768px) {
  .is-req-invalid {
    background-size: 2%;
  }
  .is-req-valid {
    background-size: 2%;
  }
  .is-other-invalid {
    background-size: 2%;
  }
  .is-other-valid {
    background-size: 2%;
  }
  .is-post-invalid {
    background-size: 7%;
  }
  .is-post-valid {
    background-size: 7%;
  }
  .is-email-invalid {
    background-size: 2%;
  }
  .is-email-valid {
    background-size: 2%;
  }
  .is-num-not-valid {
    background-size: 2%;
  }
  .is-num-valid {
    background-size: 2%;
  }
}

/* custom css */
